@font-face {
    font-family: Cabin;
    src: url(Cabin-VariableFont_wdth,wght.ttf);
}

.wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 1440px;

}

body{
    font-family: Cabin; 
    font-size: 22px;
    height: 2027px;
    background: linear-gradient(
        to bottom,
        black 0%,
        black 2%,
        #F0EEEB 2%,
        #F0EEEB 36%,
        white 36%,
        white 88%,
        black 88%,
        black 100%
    );
}

a {
    text-decoration: none;
    color: black;
}

span{
    font-style: italic;
}


.annoucement{
    font-size: 18px;
    text-align: center;
    color: white;
}

.annoucement p{
    height: 22px; 
    top:-10px;
    position: relative;
}

.annoucement span{
    text-decoration: underline;
}

.nav{
    height: 58px;
    text-align: center;
    padding: 90px;
    padding: 40px 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


.navright{
    text-align: center;
}

.navright a{
    border-radius: 5px;
    color: white;
    background-color: black;
}

.nav a{
    padding: 15px;
    align-self: center;
}

.left{
    width: 35%;
    padding: 0px 150px;
    float: left;
}

.left p{
    font-size: 18px;
    width: 597px;
    
}

.left input{
    padding: 18px 24px;
    text-align: center;
    margin: 32px 18px 0px 0px;
    font-size: 18px;
    width: 160px;
    height: 21px;
    border-radius: 5px;
    border: 1px solid #B1B1B1;
}

.left a{
    border-radius: 5px;
    color: white;
    background-color: black;
    padding: 18px 24px;
}

.left img{
    margin-right: 15px;
}

.right img{
    width: 425px;
    height: 519px;
}


.logos{
    width: 1140px;
    height: 37px;
    padding: 100px 150px;
}

.logos img{
    height: 25px;
    margin-right: 31px;
}

.EscrowSection{
    margin: -30px 150px 48px 150px;
    width: 1140px;
    background-color: #F0EEEB;
    height: 405px;
    position: relative;
    border-radius: 10px;
}

.leftsection{
    position: absolute;
    left: 97px;
    top: 60px;
    width: 459px;
    height: 220px;
    word-wrap: normal;
    line-height: 27px;
}

.leftsection h2{
    width: 311px;
    font-weight: 700;
    line-height: 44px;
}

.leftsection a{
    font-size: 18px;
    text-decoration: underline;
    color: #5A5444;
}

.leftsection p{
    font-size: 18px;
    color:  #5A5444;
}


.rightsection{
    position: absolute;
    bottom: -5px;
    right: 50px;
}

.rightsection img{
    height: 400px;
}


.TextEditorSection{
    height: 334px;
    width: 1140px;
    position: relative;
}

.TextEditorSection img{
    position: absolute;
    height: 400px;
    left: 150px;
}

.tesr{
    position: absolute;
    height: 149px;
    width: 472px;
    bottom: 100px;
    left: 818px;
    line-height: 24px;
}

.tesr p{
    font-weight: 400;
    font-size: 18px;
    
}

.tesr a{
    font-size: 18px;
    text-decoration-line: underline;
    color: #5A5444;
}

.Footer{
    margin-top: 80px;
    padding: 56px 150px;
    color:  #9E9E9E;;
}

.footerleft{
    width: 368px;
    height: 113px;
    float: left;
    word-wrap: normal;
    line-height: 1px;
}

.footerleft h4{
    color: white;
    font-weight: bold;

}

.footerleft p{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

.footerright{
    float: right;
    width: 653px;
}


.footerright table{
    height: 137px;
}

.footerright tr,th{
    padding-bottom: 16px;
}

.footerright tr,td{
    padding: 10px 75px 0px 0px
}

.footerright th{
    text-align: left;
    font-weight: bold;
    color: white;
}
