@font-face {
    font-family: Cabin;
    src: url(Cabin-VariableFont_wdth,wght.ttf);
}

.wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 1440px;

}

body{
    font-family: Cabin; 
    font-size: 22px;
    height: 2027px;
    background: linear-gradient(
        to bottom,
        #F0EEEB 0%,
        #F0EEEB 38%,
        white 38%,
        white 88%,
        black 88%,
        black 100%
    );
}

a {
    text-decoration: none;
    color: black;
}


.annoucement{
    font-size: 18px;
    background-color: black;
    text-align: center;
    color: white;
    height: 50px;
}

.annoucement p{
    height: 22px; 
    top:14px;
    position: relative;
}

.annoucement span{
    text-decoration: underline;
}

.nav{
    height: 58px;
    text-align: center;
    padding: 90px;
    padding: 40px 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


.navright{
    text-align: center;
}

.navright a{
    border-radius: 5px;
    color: white;
    background-color: black;
}

.nav a{
    padding: 15px;
    align-self: center;
}

.left{
    width: 40%;
    padding: 0px 150px;
    float: left;
}

.left input{
    padding: 18px 24px;
    text-align: center;
    margin: 32px 18px 0px 0px;
    font-size: 18px;
    width: 160px;
    height: 21px;
    border-radius: 5px;
    border: 1px solid #B1B1B1;
}

.left a{
    border-radius: 5px;
    color: white;
    background-color: black;
    padding: 18px 24px;
}

.right img{
    width: 425px;
    height: 519px;
}


.logos{
    width: 1140px;
    height: 37px;
    padding: 100px 150px;
}

.logos img{
    height: 25px;
    margin-right: 31px;
}

.EscrowSection{
    margin-top: -30px;
    padding: 48px 150px;
    background-color: #F0EEEB;
    height: 405px;
    position: relative;
    border-radius: 10px;
}

.leftsection{
    position: absolute;
    top: 93px;
    width: 35%;
}

.leftsection h2{
    width: 311px;
    font-weight: 700;
    line-height: 44px;
}

.leftsection a{
    font-size: 18px;
    line-height: 27px;
    text-decoration: underline;
    color: #5A5444;
}

.leftsection p{
    font-size: 18px;
    line-height: 27px;
    color:  #5A5444;
}

.rightsection{
    position: absolute;
    bottom: -5px;
    left: 130px;
}

.rightsection img{
    height: 457px;
}


.TextEditorSection{
    height: 334px;
    width: 1140px;
}

.testl{
    float: left;
    width: 50%;
}

.tesl img{
    height: 334px;
}

.tesr{
    float: right;
    width: 50%;
}


